<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MyApp.Properties.Settings>
            <setting name="Colors" serializeAs="String">
                <value>#303841/#3A4750/#EEEEEE/#D72323/#E84A5F/#FF847C</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>RUS</value>
            </setting>
        </MyApp.Properties.Settings>
    </userSettings>
</configuration>